{% load i18n thumbnail cms_tags %}

<div class="eurogrid-item" id="post-{{ post.slug }}">
   <div class="euroinside-item">
        <a class="eurotitle europtitllink" href="{{ post.get_absolute_url }}">{{ post.title }}</a>



       {% if image and post.main_image %}
       <div class="euroimg">
           <img src="{{ post.main_image.url }}" alt="{{ post.main_image.default_alt_text }}" height="auto" width="100%" />
       </div>
       {% endif %}
       <div class="eurobody">
           {% if not TRUNCWORDS_COUNT %}
               {% render_model post "abstract" %}
           {% else %}
               {% render_model post "abstract" "" "" 'truncatewords_html:TRUNCWORDS_COUNT'  %}
           {% endif %}
       </div>
    </div>

</div>

