{% extends "base.html" %}
{% load i18n thumbnail staticfiles%}{% spaceless %}

{% block canonical_url %}
    <link rel="canonical" href="{{ view.get_view_url }}"/>
{% endblock canonical_url %}

{% block content_blog %}
<div class="eurogrid">

    {% for post in post_list %}
        {% include "europe/blog_item.html" with post=post image="true" TRUNCWORDS_COUNT=TRUNCWORDS_COUNT %}
    {% empty %}
    <p class="blog-empty">{% trans "No article found." %}</p>
     {% endfor %}

</div>
{% endblock %}
{% endspaceless %}

{% block js %}
<script src='http://masonry.desandro.com/masonry.pkgd.js'></script>
<script src="{% static 'js/masonry-resume.js' %}"></script>
{% endblock %}