{% extends "djangocms_blog/base.html" %}
{% load i18n thumbnail cms_tags staticfiles %}{% spaceless %}

{% block canonical_url %}
    <link rel="canonical" href="{{ view.get_view_url }}"/>
{% endblock canonical_url %}

{% block content_blog %}
<div class="eurogrid">

    <div class="eurointro">
    The project Europe Square has become an ongoing process of research and interventopn about city squares called "Europe Square".
    </div>

    {% for post in post_list %}
        {% include "europe/blog_item.html" with post=post image="true" TRUNCWORDS_COUNT=TRUNCWORDS_COUNT %}
    {% empty %}
    <p class="blog-empty">{% trans "No article found." %}</p>
     {% endfor %}

</div>
{% endblock %}
{% endspaceless %}

{% block js %}
<script src='http://masonry.desandro.com/masonry.pkgd.js'></script>
<script src="{% static 'js/masonry-eurosquare.js' %}"></script>
{% endblock %}