@charset "UTF-8";
/* CSS Document */

/* basic definitons */
body {
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

@font-face
{
font-family: lib-titl;
src: url(../fonts/LinLibertine_RZ.otf);
}

@font-face
{
font-family: lib-italic;
src: url(../fonts/LinLibertine_RZI.otf);
}

@font-face
{
font-family: lib-txt;
src: url(../fonts/LinLibertine_R.otf);
}

@font-face
{
font-family: acid-med;
src: url(../fonts/acid_medium.otf);
}

@font-face
{
font-family: acid;
src: url(../fonts/acid.otf);
}

@font-face
{
font-family: recta;
src: url(../fonts/recta-reg.otf);
}

@font-face
{
font-family: rectalite;
src: url(recta-lite.otf);
}

.menu{
	font-family:lib-titl;
	text-transform: uppercase;
	font-size:18px;
	color:black;
	height:80px;
	vertical-align:center;
	text-align:center
}

.submenu{
	font-family:acid;
	font-size:14px;
	color:#999;
	vertical-align:center;
	text-align:center
}

/* hyperlinks */

a.menu:link {
	color:black;
	text-decoration:none;
} 

a.menu:visited {
	color:black;
	text-decoration:none;
}

a.menu:hover {
	color:grey;
	text-decoration:none;
}

a.menu:active {
	color:white;
	text-decoration:none;
}

a:link {
	color:white;
	text-decoration:none;
} 

a:visited {
	color:white;
	text-decoration:none;
}

a:hover {
	color:white;
	text-decoration:underline;
}

a:active {
	color: white;
	text-decoration: none;
	border: 2px;
}

/* Show */
#tweetbox {
	background-color:#CC3;
	width:280px;
	height: 600px;
	text-align:right
}

div.img {
    margin: 12px;
    padding: 0px;
    height: auto;
    width: auto;
    float: left;
    text-align: left;
	height: 200px;
	width: 300px;
}

div.desc {
	position: relative;
	z-index:100;
    text-align: left;
	vertical-align:bottom;
	font-family:acid-med;
	font-size:24px;
    width: 290px;
	top: 140px ;
    left:5px
		}

/* Research */

#tagcloud {
	width:280px;
	height:300px;
	text-align:center;
	vertical-align:center;
	font-family: acid;
	font-size: 10px;
	color: black;
}

.margintxt{
	font-family: acid-med;
	font-size: 10px;
	color: black;
}

/* Reviews */

/* Resource */
