<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="../static/css/style.css">

<!-- Title -->
<title>blog of artist Yves Mettler</title>
<!-- EndTitle -->

<!-- Style -->
<style>
body {
	background-color:#BCD0DB;
	/*background-image:url(pic/backgrounds/blue3.jpg);
	background-attachment: fixed;*/
	}
</style>
<!-- EndStyle -->

</head>

<body>

<!-- Menu -->
<div id="menubar">
 <table class="menutable" cellspacing="0px">
  <tr>
    <td class="menuitem"><a class="menu" href="index.html">gallery</a>
    <br />
    <span class="submenu">works &amp; views</span></td>
    <!-- CurrentPage -->
    <td class="menuitemup"><a class="menu" href="blog.html">Blog</a>
    <br />
    <span class="submenu">research &amp; reviews</span></td>
    <!-- EndCurrentPage -->
    <td class="menuitem"><p><a class="menu" href="europesquare.html">
		<script src="../static/js/random.js" type="text/javascript"></script></a>
      <br />
      <span class="submenu">ongoing work</span></p></td>
    <td class="menuitem"><p><a class="menu" href="resume.html">resume</a>
      <br />
      <span class="submenu">news, contact &amp; CV</span></td>
  </tr>
 </table> 
</div>
<!-- EndMenu -->

<!-- content -->
<div id="blogpage">

<!-- Blog -->
<div id="blog">

<!-- Blogentry-->
<!-- Post 10-->
<div class="blogentry">	
<span class="entrydate">20.10.1015 - <a class="bloglink" href="blog-keywords.html">Review</a></span>
<div class="entrytitle">This is not another blog for now it's a test</div>
<img class="entrythumb" src="../static/pic/show/pic_et_terre/5-worm_without_a_hole.JPG"/>
<img class="entrythumb" src="../static/pic/show/pic_et_terre/5-worm_without_a_hole.JPG"/>
<img class="entrythumb" src="../static/pic/show/pic_et_terre/5-worm_without_a_hole.JPG"/>
<p>
<div class="entryintro">As part of Ultra-red’s twenty-year anniversary in 2014, the collective published nine workbooks detailing sound investigations conducted between 2010 and 2014. Since 1994, the international collective Ultra-red has launched militant sound investigations in social movements such as HIV/AIDS justice, housing, anti-racism, struggles of migration, radical education, and resistance to the war on the poor. The workbooks in this set range from short-term inquiries to long-term investigations drawing on years of work embedded in specific movements. 600 signs max "<a class="bloglink" href="post.html"> more...</a></div>
<p class="entrywords">Tags: <a class="bloglink" href="blog-keywords.html">self-publishing</a>, <a class="bloglink" href="blog-keywords.html">public art</a></p>
</div>
<!-- Endpost -->

<!-- Post 9-->
<div class="blogentry">	
<span class="entrydate">20.10.1015 - <a class="bloglink" href="blog-keywords.html">Sketch</a></span>
<div class="entrytitle">This is not another blog for now it's a test</div>
<img class="entrythumb" src="../static/pic/show/pic_et_terre/5-worm_without_a_hole.JPG"/>
<img class="entrythumb" src="../static/pic/show/pic_et_terre/5-worm_without_a_hole.JPG"/>
<img class="entrythumb" src="../static/pic/show/pic_et_terre/5-worm_without_a_hole.JPG"/>
<div class="entryintro">
  <p>As part of Ultra-red’s twenty-year anniversary in 2014, the collective published nine workbooks detailing sound investigations conducted between 2010 and 2014. Since 1994, the international collective Ultra-red has launched militant sound investigations in social movements such as HIV/AIDS justice, housing, anti-racism, struggles of migration, radical education, and resistance to the war on the poor. The workbooks in this set range from short-term inquiries to long-term investigations drawing on years of work embedded in specific movements. 600 signs max "<a class="bloglink" href="post.html"> more...</a></div>
<p class="entrywords">Tags: <a class="bloglink" href="blog-keywords.html">self-publishing</a>, <a class="bloglink" href="blog-keywords.html">public art</a></p>
<p class="entrywords"> 

</div>
<!-- Endpost -->

<!-- Post 8-->
<div class="blogentry">	
<span class="entrydate">20.10.1015 - <a class="bloglink" href="blog-keywords.html">Sketch</a></span>
<div class="entrytitle">This is not another blog for now it's a test</div>
<img class="entrythumb" src="../static/pic/show/pic_et_terre/5-worm_without_a_hole.JPG"/>
<img class="entrythumb" src="../static/pic/show/pic_et_terre/5-worm_without_a_hole.JPG"/>
<img class="entrythumb" src="../static/pic/show/pic_et_terre/5-worm_without_a_hole.JPG"/>
<div class="entryintro">
  <p>As part of Ultra-red’s twenty-year anniversary in 2014, the collective published nine workbooks detailing sound investigations conducted between 2010 and 2014. Since 1994, the international collective Ultra-red has launched militant sound investigations in social movements such as HIV/AIDS justice, housing, anti-racism, struggles of migration, radical education, and resistance to the war on the poor. The workbooks in this set range from short-term inquiries to long-term investigations drawing on years of work embedded in specific movements. 600 signs max "<a class="bloglink" href="post.html"> more...</a></div>
<p class="entrywords">Category: <a class="bloglink keywords" href="blog-keywords.html">Review</a><br />
<p class="entrywords">Tags: <a class="bloglink" href="blog-keywords.html">self-publishing</a>, <a class="bloglink" href="blog-keywords.html">public art</a></p>
</div>
<!-- Endpost -->

<!-- Post 7-->
<div class="blogentry">	
<span class="entrydate">20.10.1015 - <a class="bloglink" href="blog-keywords.html">Minima Moralia</a></span>
<div class="entrytitle">This is not another blog for now it's a test</div>
<img class="entrythumb" src="../static/pic/show/pic_et_terre/5-worm_without_a_hole.JPG"/>
<img class="entrythumb" src="../static/pic/show/pic_et_terre/5-worm_without_a_hole.JPG"/>
<img class="entrythumb" src="../static/pic/show/pic_et_terre/5-worm_without_a_hole.JPG"/>
<div class="entryintro">
  <p>As part of Ultra-red’s twenty-year anniversary in 2014, the collective published nine workbooks detailing sound investigations conducted between 2010 and 2014. Since 1994, the international collective Ultra-red has launched militant sound investigations in social movements such as HIV/AIDS justice, housing, anti-racism, struggles of migration, radical education, and resistance to the war on the poor. The workbooks in this set range from short-term inquiries to long-term investigations drawing on years of work embedded in specific movements. Several workbooks analyze militant sound inquiry practices across multiple contexts. Each workbook includes links to online support media."<a class="bloglink" href="post.html"> more...</a></div>
<p class="entrywords">Category: <a class="bloglink keywords" href="blog-keywords.html">Review</a><br />
<p class="entrywords">Tags: <a class="bloglink" href="blog-keywords.html">self-publishing</a>, <a class="bloglink" href="blog-keywords.html">public art</a></p></div>
<!-- Endpost -->
<!-- Post 6-->
<div class="blogentry">	
<span class="entrydate">20.10.1015 - <a class="bloglink" href="blog-keywords.html">Research</a></span>
<div class="entrytitle">This is not another blog for now it's a test</div>
<img class="entrythumb" src="../static/pic/show/pic_et_terre/5-worm_without_a_hole.JPG"/>
<img class="entrythumb" src="../static/pic/show/pic_et_terre/5-worm_without_a_hole.JPG"/>
<img class="entrythumb" src="../static/pic/show/pic_et_terre/5-worm_without_a_hole.JPG"/>
<div class="entryintro">
  <p>As part of Ultra-red’s twenty-year anniversary in 2014, the collective published nine workbooks detailing sound investigations conducted between 2010 and 2014. Since 1994, the international collective Ultra-red has launched militant sound investigations in social movements such as HIV/AIDS justice, housing, anti-racism, struggles of migration, radical education, and resistance to the war on the poor. The workbooks in this set range from short-term inquiries to long-term investigations drawing on years of work embedded in specific movements. Several workbooks analyze militant sound inquiry practices across multiple contexts. Each workbook includes links to online support media."<a class="bloglink" href="post.html"> more...</a></div>
<p class="entrywords">Tags: <a class="bloglink" href="blog-keywords.html">self-publishing</a>, <a class="bloglink" href="blog-keywords.html">public art</a></p></p>
</div>
<!-- Endpost -->

<!-- EndBlogentry -->
<div class="entrypage">
<a class="bloglink" href="blog.html">1 2 3 4 5 > >></a></br>
&nbsp;
</div>

<div class="bluespacerblog">&nbsp;</div>
</div>

<!-- Endblog --> 

<!--categories-->
<div id="categorybox">
<span class="tag">categories</span><br />
&nbsp;<br>
<a class="bloglink cat" href="blog.html">Documentation<br />
Minima Moralia<br />MyNameIs<br />
Notes
<br /> Research<br />
Review<br /> </a>
</div>
<!--Endcategories-->

<!--tagcloud-->
<div id="tagcloud">
<span class="tag">tags</span><br />
&nbsp;<br>
<a class="bloglink tag" href="blog.html">many little words</a>
</div>
<!--Endtagcloud-->
  
<!--twitterbox-->
<div id="tweetbox">            
			<a class="twitter-timeline" height="800px" width="100%" href="https://twitter.com/looseserendipty" data-widget-id="673898409208729600">Tweets by @looseserendipty</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
</div>
<!--Endtwitterbox-->

</div>
<!-- EndContent --> 

</body>
</html>


