<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="../static/css/style.css">

<!-- Open Graph tags -->
	<meta property="og:url"           content="http://www.theselection.net/dev/europesquare.html"/>
	<meta property="og:type"          content="documentation" />
	<meta property="og:title"         content="Full documentation of the Europe Square Project" />
	<meta property="og:description"   content="Full documentation of the Europe Square Project ongoing since 2003: Installations, Public Interventions, Performances, Exhibitions, Collaborations" />
<!-- End Open Graph tags --> 

<!-- Title -->
<title>Full documentation of the Europe Square Project</title>
<!-- EndTitle -->

<!-- Style -->
<style>
body {
	background-color:#EDE3EA;
	/*background-image:url(pic/backgrounds/blue2.jpg);
	background-attachment: fixed;*/
	}
</style>
<!-- EndStyle -->

</head>

<body>

<!-- Menu -->
<div id="menubar">
 <table class="menutable" cellspacing="0px">
  <tr>
  	
    <td class="menuitem"><a class="menu" href="index.html">gallery</a>
    <br />
    <span class="submenu">works &amp; views</span></td>
    
    <td class="menuitem"><a class="menu" href="blog.html">Blog</a>
    <br />
    <span class="submenu">research &amp; reviews</span></td>
    <!-- CurrentPage -->
    <td class="menuitemup"><p><a class="menu" href="europesquare.html"><script src="../static/js/random.js" type="text/javascript"></script></a>
      <br />
      <span class="submenu">ongoing work</span></p></td>
    <!-- EndCurrentPage -->
    <td class="menuitem"><p><a class="menu" href="resume.html">resume</a>
      <br />
      <span class="submenu">news, contact &amp; CV</span></td>
  </tr>
 </table> 
</div>
<!-- EndMenu -->

<!-- Content -->
<div class="eurogrid">

<!-- euroitem -->
<div class="eurogrid-item">
	<div class="euroinside-item">
    <a class="eurotitle europtitllink" href="europesquare-post.html">statement</a><br />
    <img class="euroimg" src="../static/pic/show/pic_et_terre/2-brise-lame1.JPG" />
	<p class="eurobody">
Yves Mettler realises interventions in the public space and sound installations that present a narrative fabric made of analyses and stories extracted from architecture, engineering, history and social conditions, creating a polyphony of the ongoing making-of of the urban environment. 300 sign MAX ... </p>
	</div>
</div>
<!-- endeuroitem -->

<!-- euroitem -->
<div class="eurogrid-item">
	<div class="euroinside-item">
    <a class="eurotitle europtitllink" href="europesquare-post.html">statement</a><br />
    <img class="euroimg" src="../static/pic/show/pic_et_terre/2-brise-lame1.JPG" />
	<p class="eurobody">
When this year’s shortlist was announced, I wrote that Assemble raised questions about whether their work is in fact art, or instead a kind of socially-engaged design practice. In some ways, their activities mirror Theaster Gates’s efforts to regenerate a corner of South Chicago, just as his recent project in Bristol was a joyous social intervention....</p>
	</div>
</div>
<!-- endeuroitem -->

<!-- euroitem -->
<div class="eurogrid-item">
	<div class="euroinside-item">
    <a class="eurotitle europtitllink" href="europesquare-post.html">statement</a><br />
    <img class="euroimg" src="../static/pic/show/pic_et_terre/2-brise-lame1.JPG" />
	<p class="eurobody">
Yves Mettler realises interventions in the public space and sound installations that present a narrative fabric made of analyses and stories extracted from architecture, engineering, history and social conditions, creating a polyphony of the ongoing making-of of the urban environment. 300 sign MAX...</p>
	</div>
</div>
<!-- endeuroitem -->

<!-- euroitem -->
<div class="eurogrid-item">
	<div class="euroinside-item">
    <a class="eurotitle europtitllink" href="europesquare-post.html">statement</a><br />
    <img class="euroimg" src="../static/pic/show/pic_et_terre/2-brise-lame1.JPG" />
	<p class="eurobody">
For the exhibition, Assemble recreated a full-size, wooden mockup of one of the houses in Granby in south Liverpool they have been refurbishing with locals. They filled it with the ceramics, fireplace surrounds, stools, doorhandles and furnishings they and the residents have been making both to use in the houses and to sell in order to generate income....</p>
	</div>
</div>
<!-- endeuroitem -->

<!-- euroitem -->
<div class="eurogrid-item">
	<div class="euroinside-item">
    <a class="eurotitle europtitllink" href="europesquare-post.html">statement</a><br />
    <img class="euroimg" src="../static/pic/show/pic_et_terre/2-brise-lame1.JPG" />
	<p class="eurobody">
Assemble’s win signifies a larger move away from the gallery into public space that is becoming ever more privatised. It shows a revulsion for the excesses of the art market, and a turn away from the creation of objects for that market....</p>
	</div>
</div>
<!-- endeuroitem -->



</div>
<!-- EndContent --> 

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://masonry.desandro.com/masonry.pkgd.js'></script>
<script src="../static/js/masonry-eurosquare.js"></script>

</body>
</html>
