<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="css/style.css">

<!-- Title -->
<title>edit posts</title>
<!-- EndTitle -->

<!-- AdminStyle -->
<style>
body {
	background-color:#BCD0DB;
	/*background-image:url(pic/backgrounds/blue1.jpg);
	background-attachment: fixed;*/
	}
table {
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
}
</style>
<!-- EndStyle -->
</head>

<body>

<!-- Menu -->
<div id="menubar">
 <table class="menutable" cellspacing="0px">
  <tr>
  	<td class="menuitem"><a class="menu" href="listpost.html">edit posts</a>
   	</td>
    <td class="menuitem"><a class="menu" href="formpost.html">new posts</a>
  	</td>
    <td class="menuitem"><p><a class="menu" href="listresume.html">&nbsp;</a>
    </td>
    <td class="menuitem"><p><a class="menu" href="listresume.html">edit resume</a>
    </td>
  </tr>
 </table> 
</div>
<!-- EndMenu -->
<div class="adminlistpost">

<p>Category:<br/>
<select class="adminbutton">
  <option>europesquare</option>
  <option>review</option>
  <option>documentation</option>
  <option>etc...</option>
</select>
<p>
<p>Title:<br/>
<input type="text" size="100" maxlength="100" />
<p>
Tags:<br/>
<table width="600px">
  <tr>
    <td><label>
      <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_0" />
      Radio</label></td>
    <td><label>
      <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_2" />
    Radio</label></td>
    <td><label>
      <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_2" />
    Radio</label></td>
  </tr>
  <tr>
    <td><label>
      <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_1" />
      Radio</label></td>
    <td><label>
      <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_2" />
    Radio</label></td>
    <td><label>
      <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_2" />
    Radio</label></td>
  </tr>
  <tr>
    <td><label>
      <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_2" />
      Radio</label></td>
    <td><label>
      <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_2" />
    Radio</label></td>
    <td><label>
      <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_2" />
    Radio</label></td>
  </tr>
  <tr>
    <td><label>
      <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_3" />
      Radio</label></td>
    <td><label>
      <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_2" />
    Radio</label></td>
    <td><label>
      <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_2" />
    Radio</label></td>
  </tr>  
</table>
<p>Add Tag: <input type="text" maxlength="30" /> <input type="button" value="Add" class="adminbutton"/></p>
</p>
<p>Text <i>full html editor including 2 buttons for img class</i><br/>
<textarea cols="100" rows="50" maxlength="3000"></textarea>
</p>

<div class="formheight"><ins>Gallery</ins><br/>
Title:<br/>
<input type="text" size="100" maxlength="100" /><br/>
&nbsp;<br/>
Caption: <i>html editor</i><br/>
<textarea cols="100" rows="3"></textarea><br/>
&nbsp;<br/>
Upload first image: <input type="button" title="Browse" value="Browse" class="adminbutton" /> 
<label for="select">Select:</label>
<select name="select" size="1" id="select">
  <option>small</option>
  <option>big</option>
  <option>portrait</option>
</select>
<i>auto-resize</i><br/>
<p class="uploadcolor">
pic1.jpg<br/></p>
&nbsp;<br/>
Upload: <input type="button" title="Browse" value="Browse" class="adminbutton" /><i>auto-resize</i><br/>
<p class="uploadcolor">
pic1.jpg<br/>
pic2.png<br/>
pic3.gif<br/>
</p>
&nbsp;<br/>
Add other related Galleries:
<div class="admingallery">
	<div class="admingalleryitem">
    <img src="pic/show/pic_et_terre/7-brise-lame.JPG" class="admingallerypic" /><br/>
    <input type="radio" />
    </div>
    <div class="admingalleryitem">
    <img src="pic/show/pic_et_terre/7-brise-lame.JPG" class="admingallerypic" /><br/>
    <input type="radio" />
    </div>
    <div class="admingalleryitem">
    <img src="pic/show/pic_et_terre/7-brise-lame.JPG" class="admingallerypic" /><br/>
    <input type="radio" />
    </div>
    <div class="admingalleryitem">
    <img src="pic/show/pic_et_terre/7-brise-lame.JPG" class="admingallerypic" /><br/>
    <input type="radio" />
    </div>
    <div class="admingalleryitem">
    <img src="pic/show/pic_et_terre/7-brise-lame.JPG" class="admingallerypic" /><br/>
    <input type="radio" />
    </div>
    <div class="admingalleryitem">
    <img src="pic/show/pic_et_terre/7-brise-lame.JPG" class="admingallerypic" /><br/>
    <input type="radio" />
    </div>
    <div class="admingalleryitem">
    <img src="pic/show/pic_et_terre/7-brise-lame.JPG" class="admingallerypic" /><br/>
    <input type="radio" />
    </div>
    <div class="admingalleryitem">
    <img src="pic/show/pic_et_terre/7-brise-lame.JPG" class="admingallerypic" /><br/>
    <input type="radio" />
    </div>
    <div class="admingalleryitem">
    <img src="pic/show/pic_et_terre/7-brise-lame.JPG" class="admingallerypic" /><br/>
    <input type="radio" />
    </div>
</div>
<p>
<input type="button" value="Save your Post" class="adminbutton" />
</p>
</body>
</html>
