<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="css/style.css">

<!-- Title -->
<title>edit resume</title>
<!-- EndTitle -->

<!-- AdminStyle -->
<style>
body {
	background-color:#BCD0DB;
	/*background-image:url(pic/backgrounds/blue1.jpg);
	background-attachment: fixed;*/
	}
</style>
<!-- EndStyle -->
</head>

<body>
<!-- Menu -->
<div id="menubar">
 <table class="menutable" cellspacing="0px">
  <tr>
  	<td class="menuitem"><a class="menu" href="listpost.html">edit posts</a>
   	</td>
    <td class="menuitem"><a class="menu" href="formpost.html">new posts</a>
  	</td>
    <td class="menuitem"><p><a class="menu" href="listresume.html">&nbsp;</a>
    </td>
    <td class="menuitem"><p><a class="menu" href="listresume.html">edit resume</a>
    </td>
  </tr>
 </table> 
</div>
<!-- EndMenu -->

<!-- Content -->
<div class="adminlistresume">

<p>category: <span class="resumtitle">Publications</span></p>
<div><a class="adminlink">edit html</a> - <a class="adminlink"> preview</a> - <a class="adminlink" href="listresume.html">save</a><br />
<textarea name="resumefield" cols="80" rows="40" maxlength="1000" id="resumefield"><div class="resumtxt">
<p>The Ultimate Capital is the Sun<br />
<span class="resumsmalltxt">NGBK, Berlin, 2014</span><p></p>
<p>When Site Lost The plot<br />
<span class="resumsmalltxt">Urbanomic, London, 2013</span><p></p>
<p>EU R US<br />
<span class="resumsmalltxt">Westphalie, Wien, 2012</span><p></p>
<p>Black Move<br />
<span class="resumsmalltxt">Kunsthaus Langenthal, 2012</span><p></p>
		</div>
</textarea>
</div>
</div>
</body>
</html>
