<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="../static/css/style.css">

<!-- Title -->
<title>list resume</title>
<!-- EndTitle -->

<!-- Style -->
<style>
body {
	background-color:#BCD0DB;
	/*background-image:url(pic/backgrounds/blue1.jpg);
	background-attachment: fixed;*/
	}
table {
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
	border-bottom: 1px solid #fff;
}
</style>
<!-- EndStyle -->
</head>

<body>

<!-- Menu -->
<div id="menubar">
 <table class="menutable" cellspacing="0px">
  <tr>
  	<td class="menuitem"><a class="menu" href="listpost.html">edit posts</a>
   	</td>
    <td class="menuitem"><a class="menu" href="formpost.html">new posts</a>
  	</td>
    </td>
    <td class="menuitem"><p><a class="menu" href="listresume.html">&nbsp;</a>
    </td>
    <td class="menuitem"><p><a class="menu" href="listresume.html">edit resume</a>
    </td>
  </tr>
 </table> 
</div>
<!-- EndMenu -->

<!-- list resume -->
<div class="adminlistresume">

<p><a class="adminlink" href="editagenda.html">Edit upcoming-ongoing</p>

<p>Add Category: <input type="text" maxlength="25" /><input type="button" value="Save" />

<table width="400px" cellspacing="0" cellpadding="4">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Date Modified</th>
      <th scope="col">Action</th>
    </tr>
    <tr>
      <td>Bioline</td>
      <td>20.10.15</td>
      <td><input name="Editresume" type="button" class="postwords" id="Editresume" value="Edit" /></td>
    </tr>
    <tr>
      <td>Contact</td>
      <td>20.10.15</td>
      <td><input name="Editresume" type="button" class="postwords" id="Editresume" value="Edit" /></td>
    </tr>
    <tr>
      <td>CV</td>
      <td>20.10.15</td>
      <td><input name="Editresume" type="button" class="postwords" id="Editresume" value="Edit" /></td>
    </tr>
    <tr>
      <td>Former Web Presence</td>
      <td>20.10.15</td>
      <td><input name="Editresume" type="button" class="postwords" id="Editresume" value="Edit" /></td>
    </tr>
    <tr>
      <td>Impressum</td>
      <td>20.10.15</td>
      <td><input name="Editresume" type="button" class="postwords" id="Editresume" value="Edit" /></td>
    </tr>
    <tr>
      <td>Network</td>
      <td>20.10.15</td>
      <td><input name="Editresume" type="button" class="postwords" id="Editresume" value="Edit" /></td>
    </tr>
    <tr>
      <td>Online</td>
      <td>20.10.15</td>
      <td><input name="Editresume" type="button" class="postwords" id="Editresume" value="Edit" /></td>
    </tr>
    <tr>
      <td>Portrait</td>
      <td>20.10.15</td>
      <td><input name="Editresume" type="button" class="postwords" id="Editresume" value="Edit" /></td>
    </tr>
    <tr>
      <td>Publications</td>
      <td>20.10.15</td>
      <td><input name="Editresume" type="button" class="postwords" id="Editresume" value="Edit" /></td>
    </tr>
    <tr>
      <td>Statement</td>
      <td>20.10.15</td>
      <td><input name="Editresume" type="button" class="postwords" id="Editresume" value="Edit" /></td>
    </tr>
</table>
</div>
   
 
</body>
</html>
