<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="../static/css/style.css">

<!-- Title -->
<title>-//-3/l/73R//-</title>
<!-- EndTitle -->

<!-- Style -->
<style>
body {
	background-color:#000;
	background-image:url(../static/pic/static/fractal.jpg);
	background-size:100%;
	background-repeat:no-repeat;
	}
</style>
<!-- EndStyle -->
</head>

<body>
<div align="center">
<div id="adminenter" align="left">
  	Username: <input type="text" /><p>
    Password: &nbsp;<input type="password" />  <p>
    <input type="submit" class="postwords" title="enter" />
</div>
</div> 
 
</body>
</html>
