<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="../static/css/style.css">

<!-- Open Graph tags -->
	<meta property="og:url"           content="http://www.theselection.net"/>
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="This is not another blog for now it's a test" />
	<meta property="og:description"   content="80 first signs of the post body" />
<!-- End Open Graph tags -->  


<!-- Title -->
<title>This is not another blog for now it's a test</title>
<!-- EndTitle -->

<!-- Style -->
<style>
body {
	background-color:#C8DCDD;
	/*background-image:url(pic/backgrounds/pink2.jpg);
	background-attachment: fixed;*/
	}
</style>
<!-- EndStyle -->

</head>

<body>
<!-- Fbook button script // And I still believe facebook would better help the world by paying its due taxes, worldwide -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Menu -->
<div id="menubar">
 <table class="menutable" cellspacing="0px">
  <tr>
    <td class="menuitem"><a class="menu" href="index.html">gallery</a>
    <br />
    <span class="submenu">works &amp; views</span></td>
    <!-- CurrentPage -->
    <td class="menuitemup"><a class="menu" href="blog.html">Blog</a>
    <br />
    <span class="submenu">research &amp; reviews</span></td>
    <!-- EndCurrentPage -->
    <td class="menuitem"><p><a class="menu" href="europesquare.html">
		<script src="../static/js/random.js" type="text/javascript"></script></a>
      <br />
      <span class="submenu">ongoing work</span></p></td>
    <td class="menuitem"><p><a class="menu" href="resume.html">resume</a>
      <br />
      <span class="submenu">news, contact &amp; CV</span></td>
  </tr>
 </table> 
</div>
<!-- EndMenu -->

<!-- content -->
<div id="postpage">

<!-- Post -->
	<div id="post">

		<div class="postentry">	
		<span class="postdate">20.10.2015</span> <span class="postcat"><a class="postlink" href="blog-samecategory">Documentation</a>
			<div class="posttitle">This is not another blog for now it's a test</div>

			<div class="postbody"> 
<img class="entrythumb" src="../static/pic/show/pic_et_terre/5-worm_without_a_hole.JPG"/><img class="entrythumb" src="../static/pic/show/pic_et_terre/5-worm_without_a_hole.JPG"/>
<img class="entrythumb" src="../static/pic/show/pic_et_terre/5-worm_without_a_hole.JPG"/>
<p>As part of Ultra-red’s twenty-year anniversary in 2014, the collective published nine workbooks detailing sound investigations conducted<a class="agendalink externlink" href="http://www.alicechauchat.net" target="_blank"> between 2010 and 2014.</a> Since 1994, the international collective Ultra-red has launched militant sound investigations in social movements such as HIV/AIDS justice, housing, anti-racism, struggles of migration, radical education, and resistance to the war on the poor. The workbooks in this set range from short-term inquiries to long-term investigations drawing on years of work embedded in specific
<p/>
Since reviewing the Turner prize exhibition as it opened, it is Assemble’s project that has stayed with me – though at the time I enjoyed Bonnie Camplin’s project, with its evocation of paranoia and conspiracy theories, very much. Nicole Wermer’s arrangement of Marcel Breuer’s Bauhaus Cesca chairs, each of which had a luxuriant fur coat draped across its back, felt like a particularly chilly academic exercise. Watching Janice Kerbel’s Doug – with its black-clad singers and its limp, sometimes winsome doggerels – ­I kept thinking of the toe-curling acapella concert amusements the King’s Singers provide. It was dreadfully overwritten.<p/>
Assemble’s win signifies a larger move away from the gallery into public space that is becoming ever more privatised. It shows a revulsion for the excesses of the art market, and a turn away from the creation of objects for that market. Their structure that was on show at this year’s Turner exhibition must be seen not as a work, but as a model of work that takes place elsewhere; not in the art world, but the world itself.

			</div>
			<p class="postwords">
Tags: <a class="postlink" href="blog-postswithsamekeywords.html">self-publishing</a>, <a class="postlink" href="blog-keywords.html">public art</a><br />
related galleries: <a class="postlink" href="index.html">Brise-Lame (corrugated steel version)</a>
			</p>
            
            <div class="backbutton">
            <a class="postlink" href="blog.html">Back to blog</a> - <a class="postlink">Print page</a>
            </div>
            
			<div class="postbutton">
	<a href="https://twitter.com/share" class="twitter-share-button"{count} data-via="looseserendipty">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<!-- Your share button code  // And I still believe facebook would better help the world by paying its due taxes, worldwide -->
				<div class="fb-share-button" data-href="http://www.theselection.net/dev/post.html" data-layout="button">
                </div>
    		</div>
&nbsp;<br />
&nbsp;<br />           
</div>
 
<!-- Endpostentry -->
<div class="bluespacerblog">&nbsp;</div>

</div>
<!-- EndPost --> 

<!--categories-->
<div id="categorybox" class="cat">
Categories<br />
&nbsp;<br />
<a class="postlink" href="blog-samecategory.html">Documentation</a><br />
<a class="postlink" href="blog-samecategory.html">MinimaMoralia</a><br />
<a class="postlink" href="blog-samecategory.html">MyNameIs</a><br />
<a class="postlink" href="blog-samecategory.html">Research</a><br />
<a class="postlink"href="blog-samecategory.html">Reviews</a><br />
<a class="postlink" href="blog-samecategory.html">Sketch</a><br />
</div>
<!--Endcategories-->

<!--Tagcloud-->
<div id="tagcloud" class="tag">
<a class="postlink" href="blog-samecategory.html">Many Words</a>
</div>
<!--EndTagcloud-->

<!--Twitterbox-->
<div id="tweetbox">
            <a class="twitter-timeline"  href="https://twitter.com/looseserendipty" data-widget-id="674707395000582144">Tweets by @looseserendipty</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<!--EndTwitterbox-->


</div>
<!-- EndContent --> 

</body>
</html>


