{% extends 'master.html' %}

{% block style %}
    <style>
      body {background-color:#FF6; }
    </style>
{% endblock style %}

{% block main %}
    <td style="background-color:#FFF; vertical-align:top" colspan="3">
    
	
	<div class="img" style="background-image:url(pic/show/pic_et_terre/2-brise-lame2.JPG); background-size:cover">
  		<div class="desc">
  		<a  target="_blank" href="klematis_big.htm">
        Title <br />
        20XX </a>
        </div>
    </div>
    
    <a  target="_blank" href="klematis_big.htm">
    <div class="img" style="background-image:url(pic/show/pic_et_terre/9-rsi.JPG); background-size:cover">
  		<div class="desc">
  		  <p>
  		    Title <br />
  		    20XX
  		</div>
    </div>
    </a>
    </td>
{% endblock main %}
