<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Homepage of artist Yves Mettler</title>

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<body style="background-color:#FF6">

<!-- Menu -->

<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr class="menu">
    <td style="width:30%; background-color:#FFF"><a class="menu" href="{% url 'show' %}">show</a>
    <br /><span class="submenu">shows & works</span></td>
    <td style="width:30%"><a class="menu" href="{% url 'research' %}">research</a>
    <br /><span class="submenu">research blog</span></td>
    <td style="width:30%"><a class="menu" href="{% url 'reviews' %}">reviews</a>
    <br /><span class="submenu">events, workshops, collaborations, ...</span></td>
    <td style="width:30%"><a class="menu" href="{% url 'resources' %}">resources</a>
    <br /><span class="submenu">contact, bio, publications, ...</span></td>
  </tr>
  
<!-- Content -->
  
  <tr>
  
<!-- Main -->  
    <td style="background-color:#FFF; vertical-align:top" colspan="3">
    
	
	<div class="img" style="background-image:url(pic/show/pic_et_terre/2-brise-lame2.JPG); background-size:cover">
  		<div class="desc">
  		<a  target="_blank" href="klematis_big.htm">
        Title <br />
        20XX </a>
        </div>
    </div>
    
    <a  target="_blank" href="klematis_big.htm">
    <div class="img" style="background-image:url(pic/show/pic_et_terre/9-rsi.JPG); background-size:cover">
  		<div class="desc">
  		  <p>
  		    Title <br />
  		    20XX
  		</div>
    </div>
    </a>
    </td>
    
<!-- Sidebar -->    
    <td style="width:290px; text-align:right; vertical-align:top"><div id="tweetbox">

</div></td>
  </tr>
</table>
</body>
</html>
