<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Homepage of artist Yves Mettler</title>

<link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body style="background-color:#06F">

<table width="100%" border="0" cellspacing="0" cellpadding="5">

<!-- Menu -->

  <tr class="menu">
    <td style="width:30%"><a class="menu" href="index.html">show</a>
    <br /><span class="submenu">shows & works</span></td>
    <td style="width:30%; background-color:#FFF"><a class="menu" href="research.html">research</a>
    <br /><span class="submenu">research blog</span></td>
    <td style="width:30%"><a class="menu" href="reviews.html">reviews</a>
    <br /><span class="submenu">events, workshops, collaborations, ...</span></td>
    <td style="width:30%"><a class="menu" href="resources.html">resources</a>
    <br /><span class="submenu">contact, bio, publications, ...</span></td>
  </tr>
  
<!-- Content -->  

  <tr>

<!-- Main --> 
    <td colspan="3" rowspan="3" style="background-color:#FFF">&nbsp;</td>
    
<!-- Sidebar -->     
    <td style="text-align:center; vertical-align:center">
    <div id="tagcloud">Tag Cloud</div>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="margintxt" style="width:290px; height:50px; text-align:left; vertical-align:center">	
    Search Box
    </td>
  </tr>
  <tr>
    <td colspan="2" class="margintxt" style="width:290px; height:300px; text-align:left; vertical-align:top">
    Ten last Posts:<p>
    
    youpiuabara<br>
    refuhreguihwperighpw<br>
    youpiuabara<br>
    refuhreguihwperighpw<br>youpiuabara<br>
    refuhreguihwperighpw<br>youpiuabara<br>
    refuhreguihwperighpw<br>
    </td>
  </tr>
</table>
</body>
</html>
