{% extends 'master.html' %}

{% block style %}
    <style>
      body {background-color:#06F; }
    </style>
{% endblock style %}


{% block main %}
<!-- Main --> 
    <td colspan="3" rowspan="3" style="background-color:#FFF">&nbsp;</td>
{% endblock main %}

<!-- Sidebar -->
{% block sidebar %}
    <td style="text-align:center; vertical-align:center">
      <table>
        <tr>
          <td>
            <div id="tagcloud">Tag Cloud</div>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="margintxt" style="width:290px; height:50px; text-align:left; vertical-align:center">
             Search Box
          </td>
        </tr>
        <tr>
          <td colspan="2" class="margintxt" style="width:290px; height:300px; text-align:left; vertical-align:top">
            Ten last Posts:<p>

            youpiuabara<br>
            refuhreguihwperighpw<br>
            youpiuabara<br>
            refuhreguihwperighpw<br>youpiuabara<br>
            refuhreguihwperighpw<br>youpiuabara<br>
            refuhreguihwperighpw<br>
          </td>
        </tr>
      </table>
    </td>
{% endblock sidebar %}
